html{
    background: linear-gradient( to bottom right,rgb(255, 145, 0),rgba(65, 177, 13, 0.671),rgb(238, 55, 198),rgb(43, 173, 248));
    text-align: center;
    font-family: Arial;
    font-weight: 500;
    box-shadow: 0 0 14px rgb(253, 253, 253);
}
body{
    margin: 0 auto;
    width: 50%;
    padding: 15px;
}
.ul{
    list-style: none;
    text-align: left;
    margin: 0 auto;
    width: 30%;
}
div.a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family:'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
}
h3{
    color: rgb(166, 255, 0);
    font-size: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif ;
}
#span1{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family:'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
}
#span2{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family:'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
}
.table{
    display: inline; 
}